body {

    
    font-family: Roboto;
    min-height: 100vh;

}




.one {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 256px;
    padding-right: 256px;



}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;

}

.header {
    display: flex;
    justify-content: space-between;



}

.secondbox {
    display: flex;


}

.sheader {
    font-size: 48px;
    color: #F9FAF8;
    weight: 900;


}

.text {
    font-size: 18px;
    color: #E5E7EB;


}


.three {

    background-color: #E5E7EB;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 8px;
}


a {
     color: #E5E7EB;
     text-decoration: none;
     font-size: 18px;

}


